/* Allgemeine Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --color-bg: #ffffff;
    --color-text: #000000;
}

body.dark {
    background-color: #1A1A1A;
    color: #F5F5F5;
}

    body.dark .thread,
    body.dark .post,
    body.dark .comment,
    body.dark textarea,
    body.dark input[type="text"],
    body.dark input[type="email"],  
    body.dark input[type="password"] {
        background-color: #2B2B2B;
        color: #F5F5F5;
    }

    body.dark .authenticate input[type="submit"],
    body.dark .container input[type="submit"],
    body.dark .threads-link,
    body.dark .input[type="submit"],
    body.dark .delete-button button,
    body.dark .logout-button button,
    body.dark .comment-form input[type="submit"],
    body.dark .banner a {
        background-color: #ff8400;
    }

    body.dark .like-checkbox:checked + .like-label .thumb-up {
        fill: #ff8400;
    }

    body.dark .authenticate input[type="submit"]:hover,
    body.dark .container input[type="submit"]:hover,
    body.dark .threads-link:hover,
    body.dark .input[type="submit"]:hover,
    body.dark .delete-button button:hover,
    body.dark .logout-button button:hover,
    body.dark .comment-form input[type="submit"]:hover,
    body.dark .banner a:hover {
        background-color: #b35900;
    }

    body.dark .like-checkbox:checked + .like-label:hover .thumb-up {
        fill: #cc6a00;
    }

        

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Styles für Login, Registrierung und Passwortrücksetzung */
.authenticate {
    width: 300px;
    margin: 20px auto 0;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .authenticate input[type="text"],
    .authenticate input[type=email],
    .authenticate input[type="password"],
    .authenticate input[type="submit"],
    .container input[type="submit"],
    .container input[type="text"],
    textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .authenticate input[type="submit"],
    .container input[type="submit"],
    .threads-link,
    .comment-form input[type="submit"],
    .banner a {
        display: inline-block;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .container input[type="submit"]:hover,
        .authenticate input[type="submit"]:hover,
        .comment-form input[type="submit"]:hover,
        .delete-button button:hover,
        .logout-button button:hover,
        .threads-link:hover,
        .banner a:hover {
            background-color: #0056b3;
        }

    .authenticate a {
        display: block;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
        color: #007bff;
    }

.register-link{
    display: inline-block;
}

.register-link:last-child {   
    float: right;
}

    .register-link a:hover,
    .login-link a:hover {
        color: #0056b3; 
    }

/* Styles für die Hauptseite und die Threads*/
.thread,
.comment {
    position: relative;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.delete-button,
.logout-button,
.slider-position {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0;
    padding-top: 0;
}

    .delete-button button,
    .logout-button button {
        padding: 4px 8px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

.logout-button {
    margin-top: -5px;
}

.banner {
    margin: 10px 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

    .title a {
        color: #0056b3;
        text-decoration: none;
    }

.post {
    display: flex;
    align-items: flex-start;
}

.image {
    margin-right: 10px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

    .image img {
        width: 100%;
        height: auto;
    }



.text,
.comment-text {
    flex: 1;
}

.user_info,
.comment-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    flex-direction: row;
}

.username,
.comment-username {
    font-weight: bold;
}


.timestamp,
.comment-timestamp {
    color: #777;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.comment-form,
.comments p {
    margin: 20px 0;
    padding: 10px;
}

    .comment-form p,
    .comments p {
        font-size: 20px;
        font-weight: bold;
        text-align: left;
    }

    .comment-form textarea {
        width: 15%;
        margin-top: -10px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .comment-form form {
        display: flex;
        flex-direction: column;
    }

    .comment-form input[type="submit"] {
        width: 5%;
        margin-top: -5px;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

/* Styles für das Erstellen von Threads */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 10px;
}

.button-group {
    display: flex;
    align-items: baseline;
    gap: 15px;
}

.container input[type="submit"],
.threads-link {
    width: auto;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Styles für das Popup */
.authenticationPopup {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 500px;

}

    .authenticationPopup .message {
        flex-grow: 1;
    }

    .authenticationPopup .close-btn {
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        padding: 0 10px;
    }

        .authenticationPopup .close-btn:hover {
            color: #ff0000;
        }

/* Styles für das Theme-Icon */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 23px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #007bff;
    transition: .4s;
    clip-path: inset(0 round 10px);
}

    .slider:before {
        position: absolute;
        content:"🌞";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 5px;
        transition: .4s;
        border-radius: 50%;
        display: flex;
        align-items: center;
        font-size: 18px;
        justify-content: center;
    }

input:checked + .slider {
    background-color: #ff8400;
}

    input:checked + .slider:before {
        transform: translateX(26px);
        content:"🌚";
    }


.theme-slider {
    margin-right: 90px;
    margin-top: -10px;
}

/*Style für den Like-button*/
.like-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.like-checkbox {
    display: none;
}

/* Standardfarbe des SVG */
.thumb-up {
    fill: #808080;
    transition: fill 0.3s;
    cursor: pointer;
}

.like-label:hover .thumb-up {
    fill: #666666;
}

/* Farbe des SVG, wenn die Checkbox aktiviert ist */
.like-checkbox:checked + .like-label .thumb-up {
    fill: #007bff; 
}

.like-checkbox:checked + .like-label:hover .thumb-up {
    fill: #0056b3;
}

.like-count {
    margin-left: 8px;
}