/* Hauptsächlich Style für Login und Register */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.authenticate {
    width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.authenticate input[type="text"],
.authenticate input[type="password"],
.authenticate input[type="submit"] {
    width: calc(100% - 22px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.authenticate input[type="submit"],
.submit-link a {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.container input[type="submit"]:hover,
.authenticate input[type="submit"]:hover,
.submit-link a:hover {
    background-color: #0056b3;
}

.authenticate a {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

/* Hauptsächlich Style für die Mainpage */
.thread,
.submit-link {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: flex-start;
}

.image {
    margin-right: 10px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
}

.text {
    flex: 1;
}

.user_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #777;
}

/* Hauptsächlich Style für Submit */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-top: 10px;
}

.centered {
    text-align: center;
}

.container input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}