/* Allgemeine Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Styles für Login und Registrierung */
.authenticate {
    width: 300px;
    margin: 20px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .authenticate input[type="text"],
    .authenticate input[type="password"],
    .authenticate input[type="submit"],
    .container input[type="submit"],
    .container input[type="text"],
    textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .authenticate input[type="submit"],
    .submit-link a,
    .container input[type="submit"] {
        display: inline-block;
        padding: 8px 16px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }

        .container input[type="submit"]:hover,
        .authenticate input[type="submit"]:hover,
        .submit-link a:hover,
        .comment-form input[type="submit"]:hover,
        .delete-button button:hover{
            background-color: #0056b3;
        }

    .authenticate a {
        display: block;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
        color: #007bff;
    }

/* Styles für die Hauptseite und die Threads*/
.thread,
.comment {
    position: relative;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 0;
    padding-top: 0;
}

.delete-button button {
    padding: 4px 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-link {
    margin: 10px 0 10px 10px;
}

.index-link {
    padding-left: 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

    .title a {
        color: #0056b3;
        text-decoration: none;
    }

.post {
    display: flex;
    align-items: flex-start;
}

.image {
    margin-right: 10px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

    .image img {
        width: 100%;
        height: auto;
    }



.text,
.comment-text {
    flex: 1;
}

.user_info,
.comment-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.username,
.comment-username {
    font-weight: bold;
}

.timestamp,
.comment-timestamp {
    color: #777;
    float: right;
}

.comment-form,
.comments p{
    margin: 20px 0;
    padding: 10px;
}

    .comment-form p,
    .comments p{
        font-size: 20px;
        font-weight: bold;
        text-align: left;
    }

    .comment-form textarea {
        width: 15%;
        margin-top: -10px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .comment-form form {
        display: flex;
        flex-direction:column;
    }

    .comment-form input[type="submit"] {
        width: 5%;
        margin-top: -5px;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

/* Styles für das Erstellen von Threads */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-top: 10px;
}

.centered {
    text-align: center;
}

.container input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}