/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Styles for threads */
.thread {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: flex-start;
}

.image {
    margin-right: 10px;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* Add cursor pointer to indicate image is clickable */
}

.image img.full-size {
    max-width: none; /* Override max-width to show full size */
}

.text {
    flex: 1;
}

.user_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #777;
}

/* Styles for comment submission form */
.comment-form {
    margin-top: 20px;
}

.comment-form p {
    font-weight: bold;
}

.comment-form textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.comment-form input[type="submit"] {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles for comments */
.comments {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.comment-text {
    margin-bottom: 5px;
}

.comment-info {
    font-size: 14px;
    color: #777;
}

.comment-info .comment-username {
    font-weight: bold;
    margin-right: 10px;
}

