/* General styles */
body {
    font-family: Arial, sans-serif;
}

/* Styles for threads */
.thread {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: flex-start;
}

.image {
    margin-right: 10px;
    overflow: hidden;
}

.image img {
    max-width: 100%;
    height: auto;
    cursor: pointer; /* Add cursor pointer to indicate image is clickable */
}

.image img.full-size {
    max-width: none; /* Override max-width to show full size */
}

.text {
    flex: 1;
}

.user_info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: #777;
}

